.card-style {   
    width : 250px; 
    height : 400px;
    margin : 10px;
    box-shadow: 5px 5px 24px 5px #0000FF,
                -5px -5px 24px 5px #0000FF;
}

.card-style:hover {
    box-shadow: 5px 5px 10px 1px inset grey,
    -5px -5px 10px 1px inset   grey;
}